

.addlink_page{
    height:100%;
        
        .addlink_all{
            height:100%;
            
            
            background-image: url(../../images/backgrounds/arto-marttinen-133621.jpg);
            background-size: cover;
            background-attachment:fixed;
            position:relative;
            
            .overlay{background-color:rgba($color-primary,.9)}        
            
        
            .content{
                position: absolute;
                width:500px;
                top:50%;left:50%;transform: translate(-50%,-50%);
                .form-control{&.textbox{@extend .animate_all;padding: 40px 30px;&:focus{border-color: #00cca3;transform:scale(1.05);}}}
                h2{color:white;font-weight:300;}
                .textbox_holder{margin-bottom:20px;}
                .buttons{}
                .collections{margin-bottom:20px;}
                //&.ng-hide-remove  { animation:0.8s fadeIn ease; }
            }
        
        }
        
    }
    
    