

.collection_page{
    padding-top:150px;
    .controls{a{color:white;}margin-bottom:20px;}
    .title{text-align:center;margin-bottom:100px;h2{color:white;font-weight:300;}}
    &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    .create{}
    .loading,.links{
         &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    }
    .create-text{.form-control{width:200px;display:inline;margin-right:10px;}}
    .noresults{color:white;text-align:center;padding:20px 0px;}
    
    
    //mobile
    @media(max-width: $col-xs) {
        .title{margin-bottom:0px;h2{font-size:24px;}}
        .controls{
            padding:20px;
        }
        .create-text{.form-control{width:100%;}}
    }
    
}
