

.link_page{
    padding-top:150px;

    .controls{
        display:flex;
        a{color:#ffffff;}margin-bottom:20px;
        .create-link{
            flex:1;
            .form-control{width:400px;display:inline;margin-right:10px;padding-right:40px;}
        }
        .search-link{
            input{
                float:right;
                @extend .animate_all;
                &:focus{width:250px;}
            }
        }
    }
    .loading,.links{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;

         &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    }
    .title{text-align:center;margin-bottom:100px;h2{color:white;font-weight:300;}}
    &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    .noresults{color:white;text-align:center;padding:20px 0px;}
    
    
    //mobile
    @media(max-width: $col-xs) {
        .title{margin-bottom:0px;h2{font-size:24px;}}
        .controls{
            display: block;
            padding:20px; 
            .create-link{
                margin-bottom:10px;
                .form-control{width:100%;margin-bottom:15px;}
            }
            .search-link{
                input{
                    float:none;
                    &:focus{width:100%;}
                }
            }
        }
        .loading,.links{
            grid-template-columns: repeat(1,1fr);
        }
    }
    
}

