/* variables */
/* mixins */
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

/* structures */
/*------------------------- STRUCTURE --------------------------------*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1, h2, h3, .menu_all li a, .menu_all .mobile li a, .link_all .edit, .link_all .privacy, .collection_all .edit {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

html {
  height: 100%;
  color: black;
}

body {
  height: 100%;
  color: black;
}

.animate_all, .btn, .menu_all, .menu_all li a, .loginbtn_all, .menuaddlink_all, .popupmenu_all .button, .login_all .step .form-control, .signup_all .step .form-control, .linkedit_all .content .form-control, .collectionedit_all .content .form-control, .link_all, .link_all .image, .collection_all, .collection_all .image, .addlink_page .addlink_all .content .form-control.textbox, .link_page .controls .search-link input, .search_page .searchbox, .search_page .searchbox .form-control {
  -webkit-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;
}

h1, h2, h3, h4, h5, h6, h7 {
  margin: 0px;
  font-weight: 600;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
}

a, a:hover {
  color: #2c5e92;
}

.btn {
  border: solid 2px white;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0px;
}

.btna {
  color: white;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 2px white;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .btn {
    padding: 10px 20px;
  }
}

.btn.btn-primary {
  border-color: #552f6d;
  color: #552f6d;
}

.btn-lg, .btn-lg:hover {
  padding: 20px 40px;
  font-size: 20px;
}

.row-no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #552f6d;
}

::-webkit-scrollbar-track {
  background: #4f2c66;
}

body {
  scrollbar-face-color: #552f6d;
  scrollbar-track-color: #4f2c66;
}

.nav_all .navbar {
  margin: 0px;
  background-color: white;
}

.nav_all .navbar-nav {
  margin: 0px;
  float: none;
}

.nav_all .navbar-nav .dropdown-menu {
  -webkit-transform: translateX(25%);
  transform: translateX(25%);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-scope {
  height: 100%;
}

.section {
  background-color: white;
  width: 100%;
  min-height: 800px;
}

.section .inner {
  padding: 50px;
}

.wrap {
  margin: 0px 10px;
}

.page {
  width: 100%;
  height: 100%;
}

.loadingicon {
  background-image: url(../../images/app/ring.gif);
  background-position: center center;
  background-repeat: no-repeat;
  height: 50px;
}

body {
  background-color: #f7f7f7;
  /* fallback for old browsers */
  /* 
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    */
}

/*
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
*/
/*------------------------- APP --------------------------------*/
.app_all {
  width: 100%;
  height: 100%;
  position: relative;
}

.gradient_all {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
  z-index: -4;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}

.hero_all {
  position: absolute;
  background-image: url(../../images/backgrounds/alan-labisch-326579.jpg);
  background-size: cover;
  background-attachment: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
  z-index: -5;
  background-color: gray;
}

.topbanner_all {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 320px;
  z-index: 0;
  background-image: -webkit-radial-gradient(-60% 10% farthest-corner, #00cca3 5%, #8f08fd 100%);
  background-image: radial-gradient(farthest-corner at -60% 10%, #00cca3 5%, #8f08fd 100%);
}

.logo_all {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  z-index: 5;
}

@media (max-width: 768px) {
  .logo_all {
    width: 130px;
  }
}

.menu_all {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 5;
}

.menu_all li a {
  color: white;
  cursor: pointer;
}

.menu_all li a.boxed {
  color: white;
  border: solid 1px white;
}

.menu_all li a.boxed:hover, .menu_all li a.boxed:active, .menu_all li a.boxed:focus {
  background-color: white;
  color: black;
}

.menu_all li a:hover, .menu_all li a:active, .menu_all li a:focus {
  background-color: transparent;
}

.menu_all .button {
  cursor: pointer;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 23px;
  background-color: white;
}

.menu_all .button i {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.menu_all .mobile {
  display: none;
}

.menu_all .mobile li a {
  color: white;
}

@media (max-width: 768px) {
  .menu_all .desktop {
    display: none;
  }
  .menu_all .mobile {
    display: block;
  }
}

.loginbtn_all {
  position: fixed;
  top: 20px;
  right: 90px;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 5;
}

.loginbtn_all:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.loginbtn_all .button {
  cursor: pointer;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 23px;
  background-color: #b3b3b3;
}

.loginbtn_all .button i {
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

@media (max-width: 768px) {
  .loginbtn_all:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menuaddlink_all {
  position: fixed;
  top: 20px;
  color: white;
  right: 160px;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 5;
}

.menuaddlink_all:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.menuaddlink_all .button {
  cursor: pointer;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 23px;
  background-color: #552f6d;
}

.menuaddlink_all .button i {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

@media (max-width: 768px) {
  .menuaddlink_all:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.popupmenu_all {
  position: fixed;
  top: 0opx;
  width: 100%;
  z-index: 100;
  background-color: #552f6d;
}

.popupmenu_all.ng-hide {
  -webkit-animation: 0.8s slideOutUp ease;
  animation: 0.8s slideOutUp ease;
}

.popupmenu_all.ng-hide-remove {
  -webkit-animation: 0.8s slideInDown ease;
  animation: 0.8s slideInDown ease;
}

.popupmenu_all .button {
  cursor: pointer;
  text-align: center;
  padding: 60px 0px;
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  border-left: solid 1px rgba(255, 255, 255, 0.3);
}

.popupmenu_all .button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.page_all.ng-enter {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.login_all {
  background-color: #552f6d;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.login_all.ng-hide-add {
  -webkit-animation: 0.8s slideOutDown ease;
  animation: 0.8s slideOutDown ease;
}

.login_all.ng-hide-remove {
  -webkit-animation: 0.8s slideInUp ease;
  animation: 0.8s slideInUp ease;
}

.login_all .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.login_all .close img {
  width: 20px;
}

.login_all .step {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.login_all .step.ng-hide-add {
  -webkit-animation: 0.8s slideOutLeft ease;
  animation: 0.8s slideOutLeft ease;
}

.login_all .step.ng-hide-remove {
  -webkit-animation: 0.8s slideInRight ease;
  animation: 0.8s slideInRight ease;
}

.login_all .step h2 {
  color: white;
  font-weight: 300;
}

.login_all .step .form-control {
  padding: 40px 30px;
}

.login_all .step .form-control:focus {
  border-color: #00cca3;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.login_all .step .textbox_holder {
  margin-bottom: 20px;
}

.login_all .step .center {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .login_all .step .center {
    width: 100%;
    padding: 20px;
  }
  .login_all .step .form-control:focus {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.signup_all {
  background-color: #552f6d;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.signup_all.ng-hide-add {
  -webkit-animation: 0.8s slideOutDown ease;
  animation: 0.8s slideOutDown ease;
}

.signup_all.ng-hide-remove {
  -webkit-animation: 0.8s slideInUp ease;
  animation: 0.8s slideInUp ease;
}

.signup_all .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.signup_all .close img {
  width: 20px;
}

.signup_all .step {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.signup_all .step.ng-hide-add {
  -webkit-animation: 0.8s slideOutLeft ease;
  animation: 0.8s slideOutLeft ease;
}

.signup_all .step.ng-hide-remove {
  -webkit-animation: 0.8s slideInRight ease;
  animation: 0.8s slideInRight ease;
}

.signup_all .step h2 {
  color: white;
  font-weight: 300;
}

.signup_all .step .form-control {
  padding: 40px 30px;
}

.signup_all .step .form-control:focus {
  border-color: #00cca3;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.signup_all .step .textbox_holder {
  margin-bottom: 20px;
}

.signup_all .step .center {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .signup_all .step .form-control:focus {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.linkedit_all {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.linkedit_all.ng-hide-add {
  -webkit-animation: 0.8s slideOutDown ease;
  animation: 0.8s slideOutDown ease;
}

.linkedit_all.ng-hide-remove {
  -webkit-animation: 0.8s slideInUp ease;
  animation: 0.8s slideInUp ease;
}

.linkedit_all .drop {
  display: none;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  z-index: 20;
  border: solid 10px #2c5e92;
  border-right-width: 15px;
  background-color: rgba(255, 255, 255, 0.6);
}

.linkedit_all.dragover .drop {
  display: block;
}

.linkedit_all .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.linkedit_all .close img {
  width: 20px;
}

.linkedit_all .delete {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.linkedit_all .delete img {
  width: 20px;
}

.linkedit_all .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.linkedit_all .content h2 {
  color: #552f6d;
  font-weight: 300;
}

.linkedit_all .content .form-control {
  padding: 40px 30px;
}

.linkedit_all .content .form-control.textarea {
  padding: 15px 30px 0px 30px;
}

.linkedit_all .content .form-control:focus {
  border-color: #00cca3;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.linkedit_all .content .textbox_holder {
  margin-bottom: 20px;
}

.linkedit_all .content .center {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .linkedit_all .content .center {
    width: 100%;
    padding: 20px;
  }
  .linkedit_all .content .form-control:focus {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.collectionedit_all {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.collectionedit_all.ng-hide-add {
  -webkit-animation: 0.8s slideOutDown ease;
  animation: 0.8s slideOutDown ease;
}

.collectionedit_all.ng-hide-remove {
  -webkit-animation: 0.8s slideInUp ease;
  animation: 0.8s slideInUp ease;
}

.collectionedit_all .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.collectionedit_all .close img {
  width: 20px;
}

.collectionedit_all .delete {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.collectionedit_all .delete img {
  width: 20px;
}

.collectionedit_all .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.collectionedit_all .content h2 {
  color: #552f6d;
  font-weight: 300;
}

.collectionedit_all .content .form-control {
  padding: 40px 30px;
}

.collectionedit_all .content .form-control.textarea {
  padding: 15px 30px 0px 30px;
}

.collectionedit_all .content .form-control:focus {
  border-color: #00cca3;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.collectionedit_all .content .textbox_holder {
  margin-bottom: 20px;
}

.collectionedit_all .content .center {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .collectionedit_all .content .center {
    width: 100%;
    padding: 20px;
  }
  .collectionedit_all .content .form-control:focus {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menumobile_all {
  background-color: #552f6d;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.menumobile_all.ng-hide {
  -webkit-animation: 0.8s slideOutUp ease;
  animation: 0.8s slideOutUp ease;
}

.menumobile_all.ng-hide-remove {
  -webkit-animation: 0.8s slideInDown ease;
  animation: 0.8s slideInDown ease;
}

.menumobile_all .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.menumobile_all .close img {
  width: 20px;
}

.menumobile_all .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.menumobile_all .content.ng-hide {
  -webkit-animation: 0.8s slideOutLeft ease;
  animation: 0.8s slideOutLeft ease;
}

.menumobile_all .content.ng-hide-remove {
  -webkit-animation: 0.8s slideInRight ease;
  animation: 0.8s slideInRight ease;
}

.menumobile_all .content ul li {
  text-align: center;
}

.menumobile_all .content ul li a {
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.menumobile_all .content ul li a:hover {
  background-color: transparent;
}

.menumobile_all .content .center {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*------------------------- REUSE --------------------------------*/
.link_all {
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 9px 6px -4px rgba(0, 0, 0, 0.3);
}

.link_all .drop {
  display: none;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.6);
}

.link_all.dragover .drop {
  display: block;
}

.link_all .edit {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px 15px;
  z-index: 2;
  cursor: pointer;
}

.link_all .privacy {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px 15px;
  z-index: 2;
  cursor: pointer;
}

.link_all .image {
  background-color: #ededed;
  cursor: pointer;
  height: 210px;
  background-size: cover;
  opacity: 1;
  background-position: center center;
}

.link_all .text {
  padding: 12px 15px;
}

.link_all h2 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #333333;
  height: 18px;
  overflow: hidden;
}

.link_all h3 {
  font-size: 12px;
  margin-bottom: 0px;
  color: #cccccc;
  float: left;
}

.link_all h3.views {
  float: right;
}

.link_all:hover .edit {
  display: block;
}

@media (max-width: 992px) {
  .link_all .edit {
    display: block;
  }
}

.loading .link_all {
  background-color: white;
}

.loading .link_all .image {
  background-color: #dedede;
}

.loading .link_all h2 {
  background-color: #f0f0f0;
  width: 40%;
}

.loading .link_all h3 {
  background-color: #f7f7f7;
  width: 100px;
}

.loading .link_all h3.views {
  background-color: #f7f7f7;
  width: 100px;
}

.collection_all {
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  color: black;
  position: relative;
  box-shadow: 0px 9px 6px -4px rgba(0, 0, 0, 0.3);
}

.collection_all:hover .edit {
  display: block;
}

.collection_all .drop {
  display: none;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.6);
}

.collection_all.dragover .drop {
  display: block;
}

.collection_all .edit {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px 15px;
  z-index: 2;
  cursor: pointer;
}

.collection_all .image {
  background-color: #ededed;
  cursor: pointer;
  height: 210px;
  background-size: cover;
  opacity: 1;
  background-position: center center;
}

.collection_all .text {
  padding: 12px 15px;
}

.collection_all h2 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #333333;
  height: 23px;
  overflow: hidden;
}

.collection_all h3 {
  font-size: 12px;
  margin-bottom: 0px;
  color: #cccccc;
  float: left;
}

.collection_all h3.views {
  float: right;
}

/* pages */
.addlink_page {
  height: 100%;
}

.addlink_page .addlink_all {
  height: 100%;
  background-image: url(../../images/backgrounds/arto-marttinen-133621.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.addlink_page .addlink_all .overlay {
  background-color: rgba(85, 47, 109, 0.9);
}

.addlink_page .addlink_all .content {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.addlink_page .addlink_all .content .form-control.textbox {
  padding: 40px 30px;
}

.addlink_page .addlink_all .content .form-control.textbox:focus {
  border-color: #00cca3;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.addlink_page .addlink_all .content h2 {
  color: white;
  font-weight: 300;
}

.addlink_page .addlink_all .content .textbox_holder {
  margin-bottom: 20px;
}

.addlink_page .addlink_all .content .collections {
  margin-bottom: 20px;
}

.browse_page {
  padding-top: 150px;
}

.browse_page .controls {
  margin-bottom: 20px;
}

.browse_page .controls a {
  color: white;
}

.browse_page .controls .create-link {
  text-align: center;
}

.browse_page .controls .create-link .form-control {
  width: 400px;
  display: inline;
  margin-right: 10px;
}

.browse_page .loading.ng-hide-remove, .browse_page .links.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.browse_page .title {
  text-align: center;
  margin-bottom: 100px;
}

.browse_page .title h2 {
  color: white;
  font-weight: 300;
}

.browse_page.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.browse_page .noresults {
  color: white;
  text-align: center;
  padding: 20px 0px;
}

@media (max-width: 768px) {
  .browse_page .title {
    margin-bottom: 0px;
  }
  .browse_page .title h2 {
    font-size: 24px;
  }
  .browse_page .controls {
    padding: 20px;
  }
  .browse_page .controls .create-link .form-control {
    width: 100%;
    margin-bottom: 15px;
  }
}

.collection_page {
  padding-top: 150px;
}

.collection_page .controls {
  margin-bottom: 20px;
}

.collection_page .controls a {
  color: white;
}

.collection_page .title {
  text-align: center;
  margin-bottom: 100px;
}

.collection_page .title h2 {
  color: white;
  font-weight: 300;
}

.collection_page.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.collection_page .loading.ng-hide-remove, .collection_page .links.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.collection_page .create-text .form-control {
  width: 200px;
  display: inline;
  margin-right: 10px;
}

.collection_page .noresults {
  color: white;
  text-align: center;
  padding: 20px 0px;
}

@media (max-width: 768px) {
  .collection_page .title {
    margin-bottom: 0px;
  }
  .collection_page .title h2 {
    font-size: 24px;
  }
  .collection_page .controls {
    padding: 20px;
  }
  .collection_page .create-text .form-control {
    width: 100%;
  }
}

.collectionsingle_page {
  padding-top: 150px;
}

.collectionsingle_page .controls {
  margin-bottom: 20px;
}

.collectionsingle_page .controls .back {
  float: left;
}

.collectionsingle_page .controls a {
  color: white;
}

.collectionsingle_page .controls .create-link {
  text-align: center;
}

.collectionsingle_page .controls .create-link .form-control {
  width: 400px;
  display: inline;
  margin-right: 10px;
}

.collectionsingle_page .loading.ng-hide-remove, .collectionsingle_page .links.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.collectionsingle_page .title {
  text-align: center;
  margin-bottom: 100px;
}

.collectionsingle_page .title h3 {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  font-weight: 100;
}

.collectionsingle_page .title h2 {
  color: white;
  font-weight: 300;
}

.collectionsingle_page.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.collectionsingle_page .create-text .form-control {
  width: 200px;
  display: inline;
  margin-right: 10px;
}

.collectionsingle_page .noresults {
  color: white;
  text-align: center;
  padding: 20px 0px;
}

@media (max-width: 768px) {
  .collectionsingle_page .title {
    margin-bottom: 0px;
  }
  .collectionsingle_page .title h2 {
    font-size: 24px;
  }
  .collectionsingle_page .controls {
    padding: 20px;
  }
  .collectionsingle_page .controls .back {
    margin-bottom: 15px;
  }
  .collectionsingle_page .controls .create-link .form-control {
    width: 100%;
    margin-bottom: 15px;
  }
}

.home_page {
  height: 100%;
}

.home_page .portal_all {
  height: 100%;
  background-image: url(../../images/backgrounds/alan-labisch-326579.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.home_page .portal_all .overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.home_page .portal_all .content {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.home_page .portal_all .content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.home_page .portal_all .content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.home_page .portal_all .content a {
  color: white;
}

@media (max-width: 768px) {
  .home_page .portal_all .content {
    width: 100%;
  }
  .home_page .portal_all .content h1 {
    font-size: 37px;
  }
  .home_page .portal_all .content p {
    font-size: 14px;
  }
}

.home_page .features_all {
  display: -webkit-box;
  display: flex;
}

.home_page .features_all .image {
  -webkit-box-flex: 1;
  flex: 1;
  background-color: linear-gradient(left bottom, #552f6d 0, #1d1026 80%);
  background-size: cover;
  background-position: center center;
}

.home_page .features_all .text {
  -webkit-box-flex: 1;
  flex: 1;
  background-color: white;
}

.home_page .features_all .content {
  padding: 200px 140px;
}

.home_page .features_all .content h2 {
  font-size: 34px;
  color: black;
  text-align: left;
  margin-bottom: 20px;
}

.home_page .features_all .content p {
  font-size: 19px;
  line-height: 30px;
}

.home_page .features_all .content ul {
  font-size: 17px;
  line-height: 25px;
}

.home_page .features_all.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .home_page .features_all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .home_page .features_all .image {
    height: 300px;
  }
  .home_page .features_all .content {
    width: 100%;
    padding: 30px 30px;
  }
  .home_page .features_all .content h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .home_page .features_all .content p {
    font-size: 13px;
    line-height: 20px;
  }
  .home_page .features_all .content ul {
    font-size: 13px;
    line-height: 20px;
  }
  .home_page .features_all.right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.link_page {
  padding-top: 150px;
}

.link_page .controls {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
}

.link_page .controls a {
  color: #ffffff;
}

.link_page .controls .create-link {
  -webkit-box-flex: 1;
  flex: 1;
}

.link_page .controls .create-link .form-control {
  width: 400px;
  display: inline;
  margin-right: 10px;
}

.link_page .controls .search-link input {
  float: right;
}

.link_page .controls .search-link input:focus {
  width: 250px;
}

.link_page .loading, .link_page .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.link_page .loading.ng-hide-remove, .link_page .links.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.link_page .title {
  text-align: center;
  margin-bottom: 100px;
}

.link_page .title h2 {
  color: white;
  font-weight: 300;
}

.link_page.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.link_page .noresults {
  color: white;
  text-align: center;
  padding: 20px 0px;
}

@media (max-width: 768px) {
  .link_page .title {
    margin-bottom: 0px;
  }
  .link_page .title h2 {
    font-size: 24px;
  }
  .link_page .controls {
    display: block;
    padding: 20px;
  }
  .link_page .controls .create-link {
    margin-bottom: 10px;
  }
  .link_page .controls .create-link .form-control {
    width: 100%;
    margin-bottom: 15px;
  }
  .link_page .controls .search-link input {
    float: none;
  }
  .link_page .controls .search-link input:focus {
    width: 100%;
  }
  .link_page .loading, .link_page .links {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.search_page .searchbox {
  padding-top: 300px;
  width: 500px;
  margin: 0px auto;
}

.search_page .searchbox .form-control {
  padding: 40px 30px;
}

.search_page .searchbox .form-control:focus {
  border-color: #00cca3;
}

.search_page .searchbox h2 {
  color: white;
  font-weight: 300;
}

.search_page .searchbox .textbox_holder {
  margin-bottom: 20px;
}

.search_page .searchbox.top {
  padding-top: 150px;
}

.search_page .searchbox .noresults {
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.search_page.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

@media (max-width: 768px) {
  .search_page .searchbox {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .search_page .searchbox h2 {
    font-size: 28px;
  }
}

.profile_page {
  padding-top: 150px;
}

.profile_page .controls {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
}

.profile_page .controls a {
  color: #ffffff;
  margin-right: 10px;
  border: 0px;
}

.profile_page .controls .active a {
  background-color: white;
  color: black;
}

.profile_page .loading, .profile_page .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.profile_page .loading.ng-hide-remove, .profile_page .links.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.profile_page .title {
  text-align: center;
  margin-bottom: 100px;
}

.profile_page .title h2 {
  color: white;
  font-weight: 300;
}

.profile_page.ng-hide-remove {
  -webkit-animation: 0.8s fadeIn ease;
  animation: 0.8s fadeIn ease;
}

.profile_page .noresults {
  color: white;
  text-align: center;
  padding: 20px 0px;
}

@media (max-width: 768px) {
  .profile_page .title {
    margin-bottom: 0px;
  }
  .profile_page .title h2 {
    font-size: 24px;
  }
  .profile_page .controls {
    padding: 20px;
  }
  .profile_page .controls .create-link .form-control {
    width: 100%;
    margin-bottom: 15px;
  }
  .profile_page .loading, .profile_page .links {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=app.css.map */
