

/* variables */
$color-primary:#552f6d;
$color-secondary:#2c5e92;
$color-greytxt:lighten(black,50%);

$color-grad-one:#2c5e92;
$color-grad-two:#552f6d;

$col-xs:768px;
$col-sm:992px;  
$col-md:1200px;
$col-lg:1930px;


/* mixins */
@import 'mixins/customscrollstyle';
@import 'mixins/column5ths';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/* structures */
@import 'main/structure';
@import 'main/background';
@import 'main/app';
@import 'main/popup';
@import 'main/reuse';

/* pages */
@import 'pages/addlink';
@import 'pages/browse';
@import 'pages/collection';
@import 'pages/collectionsingle';
@import 'pages/home';
@import 'pages/link';
@import 'pages/search';
@import 'pages/profile';














