

/* variables */
$color-primary:#552f6d;
$color-secondary:#2c5e92;
$color-greytxt:lighten(black,50%);

$color-grad-one:#2c5e92;
$color-grad-two:#552f6d;

$col-xs:768px;
$col-sm:992px;  
$col-md:1200px;
$col-lg:1930px;


/* mixins */
@import './mixins/customscrollstyle.scss';
@import './mixins/column5ths.scss';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

 
/*------------------------- STRUCTURE --------------------------------*/

//fonts
%font{font-family: 'Lato', sans-serif;font-weight:100;}
%font-bold{font-family: 'Lato', sans-serif;font-weight:700;}


//main
html{height:100%;color:black;}
body{height:100%;color:black;@extend %font;background-color:$color-primary;

background: $color-grad-two;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, $color-grad-one 0, $color-grad-two 80%);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(left, $color-grad-one 0, $color-grad-two 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //animated
    /*
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    */
    
} 

/*
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
*/


//animate
.animate_all{
-webkit-transition: all .2s ease-out 0s;
-moz-transition: all .2s ease-out 0s;
-o-transition: all .2s ease-out 0s;
transition: all .2s ease-out 0s;
}

//headings
h1,h2,h3,h4,h5,h6,h7{margin:0px;font-weight:600;}
h1,h2,h3{margin-bottom:20px;@extend %font-bold;}
h1,h2{
}
h1{}
h2{font-size:35px;}
h3{} 
h4{}
h5{}

//btns
a,a:hover{color:$color-secondary;}
.btn{
    @extend .animate_all;
    border:solid 2px white; 
    font-size:12px;
    padding:10px 20px;
    text-transform:capitalize;
    background-color:transparent;
    text-transform: uppercase;
    font-weight:600;
    border-radius:0px;
    &:hover{background-color:rgba(white,.3);border:solid 2px white;border-radius:0px; } 
    //mobile
    @media(max-width: $col-xs) {
        padding:10px 20px;
    }  
}
.btn-lg,.btn-lg:hover{padding:20px 40px;font-size:20px;}

//no gutter
.row-no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

//scrollbars
@include scrollbars(.5em, lighten($color-primary,0%),darken($color-primary,2%));

//navigation
.nav_all{
    .navbar{margin:0px;background-color:white;} 
    .navbar-nav{
        margin:0px;
        float:none;
        .dropdown-menu{
            transform:translateX(25%);
        }
    }
     
} 
//overlay
.overlay{width:100%;height:100%;background-color:rgba(black,.5);position:absolute;top:0px;left:0px;}


//cloak angular
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//ngscope angular
.ng-scope{height:100%;}

//reusable 
.section{
    background-color:white;
width:100%;
min-height:800px;
.inner{padding:50px;}
    
} 
.wrap{margin:0px 10px;}
.page{width:100%;height:100%;} 
.loadingicon{
        
                background-image:url(../../images/app/ring.gif);
                background-position: center center;
                background-repeat: no-repeat;
                height:50px;
        }

/*------------------------- APP --------------------------------*/


.app_all{
    width:100%;
    height:100%;
    position: relative;
   
}

.gradient_all{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100px;
    z-index:4;
    background: linear-gradient(rgba(black,.4), rgba(black,0));
}

.topbanner_all{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:320px;
    z-index:0;
     background-image: radial-gradient(farthest-corner at -60% 10%,#00cca3 5%,#8f08fd 100%);
}

.logo_all{
    position:fixed;
    top:20px;
    left:20px;
    width:200px;
    z-index:5;
    
    //mobile
    @media(max-width: $col-xs) {
        width:130px;
    }
    
}


.menu_all{
    @extend .animate_all;
    position:fixed;
    top:20px;
    right:20px;
    //width:50%;
    transform:scale(1);
    z-index:5;
    //&:hover{transform:scale(1.2);}
    li{
        a{
            @extend .animate_all;
            color:white;
            @extend %font-bold;
            cursor:pointer;
            &.boxed{
                color:white;
                border:solid 1px white;
                &:hover,&:active,&:focus{background-color:white;color:black;}
            }
            &:hover,&:active,&:focus{background-color:transparent;}
        }
    }
    
    
    .button{
        cursor:pointer;position:relative;height:60px;width:60px;border-radius:50%;font-size:23px;background-color:white;
        i{position:absolute;top:50%;right:50%;transform: translate(50%,-50%);}
    }
    
    .mobile{
        display:none;
        li{
            a{
                color:white;
                @extend %font-bold;
                }
        }
    }
    
    //mobile
    @media(max-width: $col-xs) {
        .desktop{display:none;}
        .mobile{display:block;}
    }
    
}

.loginbtn_all{
    @extend .animate_all;
    position:fixed;
    top:20px;
    right:90px;
    transform:scale(1);
    z-index:5;
    &:hover{transform:scale(1.2);}
    .button{
        cursor:pointer;position:relative;height:60px;width:60px;border-radius:50%;font-size:23px;background-color:darken(white,30%);
        i{color:white;position:absolute;top:50%;right:50%;transform: translate(50%,-50%);}
    }
}

.menuaddlink_all{
    @extend .animate_all;
    position:fixed;
    top:20px;
    color:white;
    right:160px;
    transform:scale(1);
    z-index:5;
    &:hover{transform:scale(1.2);}
    .button{
        cursor:pointer;position:relative;height:60px;width:60px;border-radius:50%;font-size:23px;background-color:$color-primary;
        i{position:absolute;top:50%;right:50%;transform: translate(50%,-50%);}
    }
}

.popupmenu_all{
    position: fixed;
    top:0opx;
    width:100%;
    z-index:100;
    background-color:$color-primary;
    &.ng-hide         { animation:0.8s slideOutUp ease; }
    &.ng-hide-remove  { animation:0.8s slideInDown ease; }
    
    .button{
        @extend .animate_all;
        cursor:pointer;text-align:center;padding:60px 0px;font-size:20px;font-weight:300;color:rgba(white,.8);border-left:solid 1px rgba(white,.3);
        &:hover{background-color:rgba(white,.2)}
    }
}


.login_all{
    background-color:$color-primary;
    position: fixed;
    top:0px;
    width:100%;
    height:100%;
    z-index:10;
    &.ng-hide         { animation:0.8s slideOutDown ease; }
    &.ng-hide-remove  { animation:0.8s slideInUp ease; }
    
    .close{position: absolute;top:20px;right:20px;z-index:10;img{width:20px;}}
    .step{
        width:100%;height:100%;position: absolute;top:0px;
        &.ng-hide         { animation:0.8s slideOutLeft ease; }
        &.ng-hide-remove  { animation:0.8s slideInRight ease; }
        
         h2{color:white;font-weight:300;}
        .form-control{@extend .animate_all;padding: 40px 30px;&:focus{border-color: #00cca3;transform:scale(1.05);}}
        .textbox_holder{margin-bottom:20px;}
        .center{
            position: absolute;
            width:500px;
            top:50%;left:50%;transform: translate(-50%,-50%);    
        }   
    }
    
    //mobile
    @media(max-width: $col-xs) {
        .step{
            .center{width:100%;padding:20px;}
        }
    }
    
}





.signup_all{
    background-color:$color-primary;
    position: fixed;
    top:0px;
    width:100%;
    height:100%;
    z-index:10;
    &.ng-hide         { animation:0.8s slideOutDown ease; }
    &.ng-hide-remove  { animation:0.8s slideInUp ease; }
    
    .close{position: absolute;top:20px;right:20px;z-index:10;img{width:20px;}}
    .step{
        width:100%;height:100%;position: absolute;top:0px;
        &.ng-hide         { animation:0.8s slideOutLeft ease; }
        &.ng-hide-remove  { animation:0.8s slideInRight ease; }
        
         h2{color:white;font-weight:300;}
        .form-control{@extend .animate_all;padding: 40px 30px;&:focus{border-color: #00cca3;transform:scale(1.05);}}
        .textbox_holder{margin-bottom:20px;}
        .center{
            position: absolute;
            width:500px;
            top:50%;left:50%;transform: translate(-50%,-50%);    
        }   
    }
    
}



.page_all{
    &.ng-enter           { animation:0.8s fadeIn ease; }
    //&.ng-leave           { animation:0.8s fadeOut ease; }
    
}




/*------------------------- REUSE --------------------------------*/








.link_all{
    @extend .animate_all;
    border-radius:4px;
    background-color:white;
    overflow:hidden;
    margin-bottom:20px;
    transform:scale(1);
    &:hover{transform:scale(1.02);}
    //box-shadow: 0px 0px 6px rgba(black,.8);
    .image{
        @extend .animate_all;
        background-color:darken(white,3%);
        cursor:pointer;height:210px;background-size: cover;opacity:1;
        //&:hover{opacity:.9;}
    }
    .text{padding:12px 15px;}
    h2{font-size:18px;margin-bottom:6px;color:lighten(black,20%);height:18px;overflow:hidden;}
    h3{font-size:12px;margin-bottom:0px;color:darken(white,20%);float:left;&.views{float:right;}} 
    
}


    .loading{
        .link_all{
            background-color:darken(white,0%);
            &:hover{transform:scale(1);}
            .image{
                background-color:darken(white,3%);
            }
            .text{}
            h2{background-color:darken(white,6%);width:40%;}
            h3{background-color:darken(white,3%);width:100px;&.views{background-color:darken(white,3%);width:100px;}} 

        }
    }



.collection_all{
    @extend .animate_all;
    border-radius:4px;
    background-color:white;
    overflow:hidden;
    margin-bottom:20px;
    transform:scale(1);
    color:black;
    &:hover{transform:scale(1.02);}
    //box-shadow: 0px 0px 6px rgba(black,.8);
    .image{
        @extend .animate_all;
        background-color:darken(white,3%);
        cursor:pointer;height:210px;background-size: cover;opacity:1;
        //&:hover{opacity:.9;}
    }
    .text{padding:12px 15px;}
    h2{font-size:18px;margin-bottom:6px;color:lighten(black,20%);height:18px;overflow:hidden;}
    h3{font-size:12px;margin-bottom:0px;color:darken(white,20%);float:left;&.views{float:right;}} 
    
}




/*------------------------- PAGES --------------------------------*/




.home_page{
height:100%;
    
    .portal_all{
        height:100%;
        background-image: url(../../images/backgrounds/alan-labisch-326579.jpg);
        background-size: cover;
        background-attachment:fixed;
        position:relative;
        
        .overlay{background-color:rgba(black,.2)}

        
        .content{
            position: absolute;
            width:600px;
            top:50%;left:50%;transform: translate(-50%,-50%);
            text-align:center;
            color:white;
            h1{font-size:50px;margin-bottom:20px;text-transform: uppercase;}
            p{font-size:18px;margin-bottom:30px;}
            a{color:white;}
            
        }
        
        //mobile
        @media(max-width: $col-xs) {
            .content{
                width:100%;
                h1{font-size:37px;}
                p{font-size:14px;}
            }
        }
        
    }
    
    
    .features_all{
        display:flex;
        .image{
            flex:1;
            background-color:linear-gradient(left bottom, $color-primary 0, darken($color-primary,20%) 80%);;
            background-size: cover;
            background-position: center center;
        }
        .text{flex:1;background-color:white;}
        .content{
            padding:200px 140px;
            h2{font-size:34px;color:black;text-align:left;margin-bottom:20px;}
            p{font-size:19px;line-height:30px;}
            ul{font-size:17px;line-height:25px;}
        }
        &.right{flex-direction: row-reverse;}
        
        //mobile
        @media(max-width: $col-xs) {
        flex-direction: column;
            .image{height:300px;}
        .content{
            width:100%;
            padding:30px 30px;
            h2{font-size:22px;margin-bottom:10px;}
            p{font-size:13px;line-height:20px;}
            ul{font-size:13px;line-height:20px;}
            }
        &.right{flex-direction: column;}    
        }
        
        
    }    
    
    
    
    
    
    
}



.addlink_page{
height:100%;
    
    .addlink_all{
        height:100%;
        
        
        background-image: url(../../images/backgrounds/arto-marttinen-133621.jpg);
        background-size: cover;
        background-attachment:fixed;
        position:relative;
        
        .overlay{background-color:rgba($color-primary,.9)}        
        
    
        .content{
            position: absolute;
            width:500px;
            top:50%;left:50%;transform: translate(-50%,-50%);
            .form-control{&.textbox{@extend .animate_all;padding: 40px 30px;&:focus{border-color: #00cca3;transform:scale(1.05);}}}
            h2{color:white;font-weight:300;}
            .textbox_holder{margin-bottom:20px;}
            .buttons{}
            .collections{margin-bottom:20px;}
            //&.ng-hide-remove  { animation:0.8s fadeIn ease; }
        }
    
    }
    
}





.link_page{
    padding-top:150px;
    .controls{
        a{color:white;}margin-bottom:20px;
        .create-link{
            text-align:center;
            .form-control{width:400px;display:inline;margin-right:10px;}
        }
    }
    .loading,.links{
         &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    }
    .title{text-align:center;margin-bottom:100px;h2{color:white;font-weight:300;}}
    &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    .noresults{color:white;text-align:center;padding:20px 0px;}
    
    
    //mobile
    @media(max-width: $col-xs) {
        .title{margin-bottom:0px;h2{font-size:24px;}}
        .controls{
            padding:20px;
            .create-link{
                .form-control{width:100%;margin-bottom:15px;}
            }
        }
    }
    
}







.collection_page{
    padding-top:150px;
    .controls{a{color:white;}margin-bottom:20px;}
    .title{text-align:center;margin-bottom:100px;h2{color:white;font-weight:300;}}
    &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    .create{}
    .loading,.links{
         &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    }
    .create-text{.form-control{width:200px;display:inline;margin-right:10px;}}
    .noresults{color:white;text-align:center;padding:20px 0px;}
    
    
    //mobile
    @media(max-width: $col-xs) {
        .title{margin-bottom:0px;h2{font-size:24px;}}
        .controls{
            padding:20px;
        }
    }
    
}



.collectionsingle_page{
    padding-top:150px;
    .controls{
        .back{float:left;}
        a{color:white;}margin-bottom:20px;
         .create-link{
            text-align:center;
            .form-control{width:400px;display:inline;margin-right:10px;}
        }
    }
    .loading,.links{
         &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    }
    .title{text-align:center;margin-bottom:100px;h2{color:white;font-weight:300;}}
    &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    .create{}
    .create-text{.form-control{width:200px;display:inline;margin-right:10px;}}
    .noresults{color:white;text-align:center;padding:20px 0px;}
    
    //mobile
    @media(max-width: $col-xs) {
        .title{margin-bottom:0px;h2{font-size:24px;}}
        .controls{
            padding:20px;
            .back{margin-bottom:15px;}
            .create-link{
                .form-control{width:100%;margin-bottom:15px;}
            }
        }
    }
    
}





.search_page{
    
    .searchbox{
        padding-top:300px;;
        @extend .animate_all;
        width:500px;
        margin:0px auto;
        .form-control{@extend .animate_all;padding: 40px 30px;&:focus{border-color: #00cca3;}}
        h2{color:white;font-weight:300;}
        .textbox_holder{margin-bottom:20px;}
        &.top{padding-top:150px;} 
        .noresults{color:white;text-align:center;padding:20px 0px;}
    }
       
    &.ng-hide-remove  { animation:0.8s fadeIn ease; }
    
    
    //mobile
    @media(max-width: $col-xs) {
        .searchbox{
            width:100%;
            padding-left:20px;
            padding-right:20px;
            h2{font-size:28px;}
            
        }
    }
}



